// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	table {
		border-collaspe: collapse;
	}

	td 	{
		font: arial;
		padding: 12px;
	}

	.even {
		background-color: #D6E1C3;
	}


	body {

	background-color: darkblue;

	}

	.odd {

	color: darkorange;

	}

	body {
		font-family:  arial;


	}

	th {

	color: darkorange;
	}

	h1 {

	color: darkorange;

	}